cw1-pt/task2/data/cifar-10-batches-py/test_batch
cw1-pt/task2/data/cifar-10-batches-py/data_batch_5
cw1-pt/task2/data/cifar-10-batches-py/readme.html
cw1-pt/task2/data/cifar-10-batches-py/data_batch_4
cw1-pt/task2/data/cifar-10-batches-py/data_batch_3
cw1-pt/task2/data/cifar-10-batches-py/data_batch_2
cw1-pt/task2/data/cifar-10-batches-py/data_batch_1
cw1-pt/task2/data/cifar-10-python.tar.gz
cw1-pt/task2/data/cifar-10-batches-py/batches.meta

